
body {
    text-align: center;
    overflow-x: hidden;
}

.home-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: darkslategray;
    color: white;
}

section {
    padding: 30px 0;
    margin: 10px 0;
}

section:nth-of-type(even) {
  width: 100%;
  background: #eee;
}

.picture {
    width: 75%;
    margin: auto;
    border-radius: 100px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.bar {
    left: 0;
    position: absolute;
    background-color: #00A1A7;
    height: 30px;
}

.tag {
    left: 0;
    position: absolute;
    background-color: #04C2C9;
    color: #fff;
    height: 100%;
    width: 110px;
    width: 70px; }

.level-bar {
  height: 30px;
  background:#e8e8e8;
}

.tag--right {
    position: absolute;
    right: 2em;
}
/*
.bold {
    font-family: 'Calibri-bold';
}*/

.page-footer {
    padding: 30px;
    background-color: #04C2C9;
}

.footer-copyright {
    padding: 20px;
}

/*
.picture {
    max-width: inherit;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 66vw;
    margin: auto;
}*/