/*.text-body {
    float: left;
    width: 66%;
}

.picture-body {
    float: right;
    width: 33%;
    height: 100%;
}*/

.picture {
    
    width: inherit;
    max-width: 80%;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    /*background-image: url('./Researchdialogues.jpg');*/
}